@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #000000;
    --card: #ffffff;
    --card-foreground: #000000;

    --border: #FFFFFF;
    --input: #000000;

    --primary: #34aaff;
    --secondary: #ff65fa;

    --blue: #34aaff;
    --pink: #ff65fa;

    --destructive: #ff4672;
    --success: #5aff56;

    --ring: #24272c;

    --radius: 10px;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
    --card: #000000;
    --card-foreground: #ffffff;

    --border: #000000;
    --input: #ffffff;

    --primary: #34aaff;
    --secondary: #ff65fa;

    --blue: #34aaff;
    --pink: #ff65fa;

    --destructive: #ff4672;
    --success: #5aff56;

    --ring: #ffffff;
  }
}