@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans;
  }
  body {
    @apply font-sans text-foreground bg-background;
  }
  :root {
    --background: #FFFFFF;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --text: #000000;
    --text-foreground: #ffffff;
    --text-secondary: #4A5569;
    
    --border: #DEE6EF;
    --border-foreground: #102031;

    --primary: #4F79D4;
    --secondary: #3B96CB;

    --blue: #4F79D4;
    --blue-secondary: #3B96CB;
    
    --destructive: #ff4672;
    --success: #5aff56;

    --radius: 12px;
  }

  .dark {
    --background: #000000;
    --foreground: #FFFFFF;

    --card: #000000;
    --card-foreground: #ffffff;

    --text: #ffffff;
    --text-foreground: #000000;
    --text-secondary: #DEE6EF;
    
    --border: #102031;
    --border-foreground: #DEE6EF;

    --primary: #4F79D4;
    --secondary: #3B96CB;

    --blue: #4F79D4;
    --blue-secondary: #3B96CB;
    
    --destructive: #ff4672;
    --success: #5aff56;

    --radius: 12px;
  }

}